<%- include('./partials/header') %>



<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ab dolor expedita neque perferendis culpa, quasi eos veniam iste aliquid! Quod cumque nisi veritatis harum vero amet quam minima sunt!</h3>









<%- include('./partials/footer.ejs')  %>